*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Gotu', sans-serif;
    background-image: url("../img/happyseniors.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
/**NAV**/
nav{
    top: 0;
    overflow: hidden;
    position: fixed;
    background-color: #12646f;
    height: 80px;   
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
label.logo{
    font-family: 'Alegreya Sans SC', sans-serif;
    color:#ececec;
    font-size: 3.5vh;
    line-height: 80px;
    padding: 0px 40px;
    letter-spacing: 1px;
    font-weight: bolder; 
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:#ececec;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    text-shadow: 2px 2px 3px #fbfbfb;
    transition: .5s;
}
.checkbtn{
    margin-top:25px;
    font-size: 30px;
    color:#ececec;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media only screen and (max-width: 1236px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 17px;
        padding: 5px;
    }
}
@media only screen and (max-width: 1125px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        text-shadow: none;
        font-size: 14px;
        padding: 5px;
    }
    a:hover{
        color: #ececec;
    }
    section{
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
}
@media only screen and (max-width: 923px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #53b0bd;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s ease;
    }
    nav ul li{
        display: block;
        z-index: 1;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:#fbfbfb;
    }
    #check:checked ~ ul{
        left: 0;
    }
    span{
        font-size: smaller;
    }
    /*body mediasäännöt*/
    header{
        font-size: smaller;
    }
}

/*body*/
header{
    margin-top: 80px;
    width: 100%;
    text-align: center;
}
h1,h3,span{
    color: #fbfbfb;
    clear: both;
    text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
}
h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 7rem;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 1px;
}
h3{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    line-height: 1.5rem;
    letter-spacing: 1px;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 40%;
}
span{
    justify-content: center;
    font-size: larger;
    float: right;
    margin-right: 1%;
    margin-top: 1%;
}
section{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#buttons{
    position: relative;
    overflow: visible;
    margin-left: 5%;
    width: 20%;
    display: flex;
    float: left;
    background-color:rgba(0,0,0,0.0);
}
button{
    text-shadow: 2px 2px 3px #fbfbfb;
    padding: 5%;
    text-align: left;
    font-size: larger;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    background-color: #fbfbfb00;
}
button:hover{
    color: #fafafa;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
    transition: .5s;
}
button:active{
    color: black;
    text-shadow: 2px 2px 3px #fbfbfb;
}
div{
    float: left;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 5%;
    justify-items: center;
    min-width: 6rem;
    max-width: 50%;
}
p{
    font-size: larger;
    font: 600;
    display: none;
    position: relative;
    text-align: left;
    background-color:#fbfbfbd3;
    border: 1px solid #53b1bd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 12px 16px;
    margin-bottom: 2%;
    word-spacing: 5px;
}
@media only screen and (max-width: 1248px){
    div{
        margin-left: 30%;
        transition: all .5s ease;
    }
    #buttons{
        overflow: none;
        display: block;
        margin-left: 8%;
        transition: all .5s ease;
    }
}
@media only screen and (max-width: 923px){
    section{
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    div{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 70%;
        transition: all .5s ease;
    }
    #buttons{
        float: none;
        overflow: none;
        display: block;
        justify-content: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        transition: all .5s ease;
    }
}
img{
    display: block;
    width: 75%;
    border-radius: 5px;
    max-height: 90%;
    margin-left: 12.5%;
    justify-content: center;
}





