*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: 'Gotu', sans-serif;
    background-image: url("../img/suutujo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
 
}
nav{
    top: 0;
    overflow: hidden;
    position: fixed;
    background-color: #12646f;
    height: 80px;   
    width: 100%;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}
label.logo{
    font-family: 'Alegreya Sans SC', sans-serif;
    color:#ececec;
    font-size: 3.5vh;
    line-height: 80px;
    padding: 0px 40px;
    letter-spacing: 1px;
    font-weight: bolder; 
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:#ececec;
    font-size: 20px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    text-shadow: 2px 2px 3px #fbfbfb;
    transition: .5s;
}
.checkbtn{
    margin-top:25px;
    font-size: 30px;
    color:#ececec;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media only screen and (max-width: 1236px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 17px;
        padding: 5px;
    }
}
@media only screen and (max-width: 1125px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        text-shadow: none;
        font-size: 14px;
        padding: 5px;
    }
    a:hover{
        color: #fbfbfb;
    }
}
@media only screen and (max-width: 923px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #53b0bd;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        z-index: 1;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color:#fbfbfb;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
